<template name="dialogAbout">
     <div class="modal fade" id="layer-dialog-about" data-backdrop="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Was ist der Baustellen-Melder?</h4>
                </div>
                <div class="modal-body">
                    <p>Der Baustellen-Melder für Köln zeigt ihnen die in der nächsten Zeit geplanten Baustellen im Stadtgebiet und zum Teil darüber hinaus.</p>
                </div>
                <!--
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Danke</button>
                </div>
                -->

                     <div class="modal-footer">
                <!--    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                    <button type="button" class="btn btn-ok btn-primary">Ok</button>
                </div>
            </div>
        </div>
    </div>
</template>