<template name="dialogHelp">
     <div class="modal fade" id="layer-dialog-help" data-backdrop="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Anleitung für das Einrichten und Löschen einer Benachrichtigung</h4>
                </div>
                <div class="modal-body">
                    <p>
                    Die Stadt Köln veröffentlicht regelmäßig Termine für die Einrichtung von Baustellen oder Großveranstaltungen wie Messen oder Konzerte. Mit diesem Werkzeug haben Sie die Möglichkeit, per E-Mail rechtzeitig informiert zu 
                    werden. 

                    Nach Eingabe ihrer E-Mailadresse für die Benachrichtigung können Sie
                    <ul>
                        <li>eine Adresse eingeben, um bei Verkehrsmeldungen in der Nähe ihr Auto rechtzeitig umparken können.</li>
                        <li>eine Start- und Zieladresse für die Berechnung einer Route nutzen, um sich rechtzeitig um Alternativen für den Weg zur Arbeit zu kümmern. 
                        </li>
                        <li> beliebige Regionen auf der Karte auswählen, weil Sie sowieso immer mit dem Auto unterwegs sind. 
                        </li>
                    </ul>
                    Diese drei Optionen sind beliebig kombinierbar. Mit ihrer E-Mailadresse können Sie allerdings nur einmal eine Benachrichtigung einrichten, diese aber auch nachträglich ändern (und löschen). Dazu erhalten Sie als Bestätigung eine E-Mail mit einem Code. 

                    <strong>Disclaimer: </strong> Dies ist ein Hobby-Projekt, die Benachrichtigungsoption kann jederzeit deaktiviert werden. 
                    </p>
                </div>
                
                <div class="modal-footer">
                <!--    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                    <button type="button" class="btn btn-ok btn-primary">Ok</button>
                </div>
                
            </div>
        </div>
    </div>
</template>